<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="me._hanho.nextjs_shop.admin.AdminMapper">
	<insert id="addSeller">
		INSERT INTO nextjs_shop_seller(seller_id, password, business_registration_number, extension_number, mobile_number, email)
		VALUES(#{seller_id}, #{password}, #{business_registration_number}, #{extension_number}, #{mobile_number}, #{email})
	</insert>
</mapper>
