<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="me._hanho.nextjs_shop.auth.AuthMapper">
	<select id="getUserInfo">
		SELECT name, zonecode, address, address_detail, birthday, phone, email, created_at, mileage, tall, weight
		FROM nextjs_shop_user
		WHERE user_no = #{userNo} AND withdrawal_status = 'ACTIVE'
	</select>
	
	<select id="getUserForPassword">
		SELECT user_no, user_id, password
		FROM nextjs_shop_user
		WHERE user_id = #{userId} AND withdrawal_status = 'ACTIVE'
	</select>
	
	<select id="getUserId">
		SELECT user_id
		FROM nextjs_shop_user
		WHERE user_no = #{userNo} AND withdrawal_status = 'ACTIVE'
	</select>
	
	<select id="hasId" resultType="int">
	    SELECT EXISTS (
	        SELECT 1 FROM nextjs_shop_user
	        WHERE user_id = #{userId}
	    ) AS exists_flag
	</select>
	
	<insert id="insertPhoneAuth">
		INSERT INTO nextjs_shop_phone_auth(user_no, phone_auth_token, phone, verification_code, connect_ip, connect_agent)
		VALUES(#{userNo}, #{phoneAuthToken}, #{phone}, #{verificationCode}, #{connectIp}, #{connectAgent})
	</insert>
	
	<select id="getPhoneAuthCode">
	    SELECT *
	    FROM nextjs_shop_phone_auth
	    WHERE phone_auth_token = #{phoneAuthToken}
	      AND is_used = 0
	      AND created_at >= DATE_SUB(NOW(), INTERVAL 190 SECOND)
	</select>
	
	<update id="markPhoneAuthUsed">
		UPDATE nextjs_shop_phone_auth
		SET is_used = 1
		WHERE phone_auth_id = #{phoneAuthId}
	</update>
	
	<select id="getUserIdByPhone">
		SELECT user_id
		FROM nextjs_shop_user
		WHERE phone = #{phone}
	</select>
	
	<insert id="joinUser" parameterType="JoinRequest"
        useGeneratedKeys="true"
        keyProperty="userNo"
        keyColumn="user_no">
		INSERT INTO nextjs_shop_user(user_id, password, name, zonecode, address, address_detail, birthday, phone, email)
		VALUES(#{userId}, #{password}, #{name}, #{zonecode}, #{address}, #{addressDetail}, #{birthday}, #{phone}, #{email})
	</insert>
	
	<insert id="joinAddUserAddress">
		INSERT INTO nextjs_shop_user_address(
			address_name, 
			recipient_name, 
			address_phone, 
			zonecode, 
			address, 
			address_detail, 
			default_address, 
			user_no)
		VALUES('HOME',
			#{name}, 
			#{phone},
			#{zonecode}, 
			#{address}, 
			#{addressDetail},
			1,
			#{userNo})
	</insert>
	
	<update id="userInfoUpdate">
		UPDATE nextjs_shop_user
		SET zonecode = #{u.zonecode},
			address = #{u.address},
			address_detail = #{u.addressDetail},
			phone = #{u.phone}, 
			email = #{u.email}
		WHERE user_no = #{userNo}
	</update>
	
	<select id="getPassword">
		SELECT password
		FROM nextjs_shop_user
		WHERE user_no = #{userNo}
	</select>
	
	<update id="changePassword">
		UPDATE nextjs_shop_user
		SET password = #{newPassword}
		WHERE user_no = #{userNo}
	</update>
	
	<insert id="insertToken">
		INSERT INTO nextjs_shop_token(connect_ip, connect_agent, refresh_token, user_no)
		VALUES(#{connectIp}, #{connectAgent}, #{refreshToken}, #{userNo})
	</insert>
	
	<update id="updateToken">
		UPDATE nextjs_shop_token
		SET refresh_token = #{refreshToken}
		WHERE refresh_token = #{beforeToken} AND connect_ip = #{connectIp} AND connect_agent = #{connectAgent}
	</update>
	
	<select id="getUserNoByToken">
		SELECT u.user_no
		FROM nextjs_shop_token t
		JOIN nextjs_shop_user u ON t.user_no = u.user_no
		WHERE t.refresh_token = #{refreshToken} AND t.connect_ip = #{connectIp} AND t.connect_agent = #{connectAgent}
		ORDER BY t.created_at DESC, t.token_id DESC
		LIMIT 1
	</select>
	
	<update id="withDrawalUser">
		UPDATE nextjs_shop_user
		SET withdrawal_status = 'REQUESTED', withdrawal_requested_at = NOW()
		WHERE user_no = #{userNo} 
	</update>
	
</mapper>
