<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="me._hanho.nextjs_shop.mapper.AuthMapper">
	<select id="getUser">
		SELECT *
		FROM nextjs_shop_user
		WHERE user_id = #{user_id}
	</select>
	<select id="getUserExceptPassword">
		SELECT user_id, name, zonecode, address, address_detail, birthday, phone, email, created_at, mileage, tall, weight, withdrawal_status
		FROM nextjs_shop_user
		WHERE user_id = #{user_id}
	</select>
	<select id="getUserByToken">
		SELECT *
		FROM nextjs_shop_user u
		JOIN nextjs_shop_token t ON u.user_id = t.user_id
		WHERE connect_ip = #{connect_ip} AND connect_agent = #{connect_agent} 
			AND refresh_token = #{refresh_token}
	</select>
	<insert id="insertToken">
		INSERT INTO nextjs_shop_token(connect_ip, connect_agent, refresh_token, user_id)
		VALUES(#{connect_ip}, #{connect_agent}, #{refresh_token}, #{user_id})
	</insert>
	<select id="getToken_id">
		SELECT token_id
		FROM nextjs_shop_token
		WHERE connect_agent = #{connect_agent} AND connect_ip = #{connect_ip} AND user_id = #{user_id}
		ORDER BY created_at DESC
		LIMIT 1
	</select>
	<update id="updateToken">
		UPDATE nextjs_shop_token
		SET refresh_token = #{refresh_token}
		WHERE token_id = #{token_id}
	</update>
	<select id="getId" resultType="int">
	    SELECT EXISTS (
	        SELECT 1 FROM nextjs_shop_user
	        WHERE user_id = #{user_id}
	    ) AS exists_flag
	</select>
	<insert id="joinMember">
		INSERT INTO nextjs_shop_user(user_id, password, name, zonecode, address, address_detail, birthday, phone, email)
		VALUES(#{user_id}, #{password}, #{name}, #{zonecode}, #{address}, #{address_detail}, #{birthday}, #{phone}, #{email})
	</insert>
</mapper>
