<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="me._hanho.nextjs_shop.buy.BuyMapper">
	
	<update id="updateProductDetailByBuy">
		UPDATE nextjs_shop_product_detail
		SET stock = stock - 1, sales_count = sales_count + 1
		WHERE product_detail_id = #{product_detail_id}
	</update>
	

</mapper>
