<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="me._hanho.nextjs_shop.mapper.FileMapper">
	<select id="getStoredFile">
		SELECT storeName
		FROM nextjs_shop_file
		WHERE user = #{id}
	</select>
	<select id="getOriginalFile">
		SELECT fileName
		FROM nextjs_shop_file
		WHERE user = #{id}
	</select>
	<update id="fileUpdate">
		UPDATE nextjs_shop_file
		SET fileName = #{fileName}, storeName = #{storeName}
		WHERE user = #{id}
	</update>
	<insert id="fileInsert">
		INSERT INTO nextjs_shop_file(fileName, storeName, user)
		VALUES (#{fileName}, #{storeName}, #{id})
	</insert>
</mapper>
