<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="me._hanho.nextjs_shop.mapper.MainMapper">
	<resultMap id="MenuTopWithSubResultMap" type="menuTop">
	    <id property="menu_top_id" column="menu_top_id"/>
	    <result property="menu_name" column="menu_name"/>
	    <result property="gender" column="gender"/>
	    
	    <collection property="subMenus" ofType="menuSub">
	        <id property="menu_sub_id" column="menu_sub_id"/>
	        <result property="menu_name" column="sub_menu_name"/>
	        <result property="menu_top_id" column="menu_top_id"/>
	    </collection>
	</resultMap>
	<select id="getMenusWithSubs" resultMap="MenuTopWithSubResultMap">
	    SELECT 
	        t.menu_top_id, t.menu_name, t.gender,
	        s.menu_sub_id, s.menu_name AS sub_menu_name, s.menu_top_id
	    FROM nextjs_shop_menu_top t
	    LEFT JOIN nextjs_shop_menu_sub s ON t.menu_top_id = s.menu_top_id
	</select>
	<select id="getMainImages">
		select *
		from nextjs_shop_product
	</select>
</mapper>
