<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="me._hanho.nextjs_shop.product.ProductMapper">
	<select id="getProductList">
	  SELECT
	    p.product_id, p.name, p.color_name, p.price, p.created_at,
	    p.view_count, p.wish_count, p.seller_id,
	    s.seller_name,
	    f.file_id, f.file_name, f.store_name, f.file_path, f.copyright, f.copyright_url
	  FROM nextjs_shop_product p
	  JOIN nextjs_shop_seller s ON s.seller_id = p.seller_id
	  LEFT JOIN (
		SELECT 
		    pi_inner.product_id,
		    pi_inner.file_id
		FROM nextjs_shop_product_image pi_inner
		INNER JOIN (
		    SELECT 
		        product_id,
		        MIN(sort_key) AS min_sort_key
		    FROM nextjs_shop_product_image
		    GROUP BY product_id
		) first_img
		    ON pi_inner.product_id = first_img.product_id
		   AND pi_inner.sort_key   = first_img.min_sort_key
	  ) tpi ON tpi.product_id = p.product_id
	  LEFT JOIN nextjs_shop_file f ON f.file_id = tpi.file_id
	  WHERE p.sale_stop = 0
	    AND p.menu_sub_id = #{menuSubId}
	  <choose>
	    <!-- 최신순 -->
	    <when test="sort == 'latest'">
	      <if test="lastCreatedAt != null and lastProductId != null">
	        AND (p.created_at, p.product_id) &lt; (#{lastCreatedAt}, #{lastProductId})
	      </if>
	      ORDER BY p.created_at DESC, p.product_id DESC
	    </when>
	    <!-- 인기순 (view+wish) -->
	    <when test="sort == 'popular'">
	      <if test="lastPopularity != null and lastCreatedAt != null and lastProductId != null">
	        AND (
	          (p.view_count + p.wish_count) &lt; #{lastPopularity}
	          OR (
	            (p.view_count + p.wish_count) = #{lastPopularity}
	            AND (p.created_at, p.product_id) &lt; (#{lastCreatedAt}, #{lastProductId})
	          )
	        )
	      </if>
	      ORDER BY (p.view_count + p.wish_count) DESC,
	               p.created_at DESC,
	               p.product_id DESC
	    </when>
	    <!-- 기본(안전망) -->
	    <otherwise>
	      ORDER BY p.product_id DESC
	    </otherwise>
	  </choose>
	  LIMIT 30
	</select>
	<select id="isWishExist" resultType="boolean">
		SELECT EXISTS (
        SELECT 1
        FROM nextjs_shop_wish
        WHERE product_id = #{productId}
          AND user_id = #{userId}
	    )
	</select>
	<update id="upProductWish">
		UPDATE nextjs_shop_product
		SET wish_count = wish_count + 1
		WHERE product_id = #{productId} 
	</update>
	<insert id="insertWish">
		INSERT INTO nextjs_shop_wish(product_id, user_id)
		VALUES(#{productId}, #{userId})
	</insert>
	<update id="downProductWish">
		UPDATE nextjs_shop_product
		SET wish_count = wish_count - 1
		WHERE product_id = #{productId}
	</update>
	<delete id="deleteWish">
		DELETE FROM nextjs_shop_wish
		WHERE product_id = #{productId}
          AND user_id = #{userId}
	</delete>
	<!--  -->
	<select id="isLikeExist" resultType="boolean">
		SELECT EXISTS (
        SELECT 1
        FROM nextjs_shop_like
        WHERE product_id = #{productId}
          AND user_id = #{userId}
	    )
	</select>
	<update id="upProductLike">
		UPDATE nextjs_shop_product
		SET like_count = like_count + 1
		WHERE product_id = #{productId} 
	</update>
	<insert id="insertLike">
		INSERT INTO nextjs_shop_like(product_id, user_id)
		VALUES(#{productId}, #{userId})
	</insert>
	<update id="downProductLike">
		UPDATE nextjs_shop_product
		SET like_count = like_count - 1
		WHERE product_id = #{productId}
	</update>
	<delete id="deleteLike">
		DELETE FROM nextjs_shop_like
		WHERE product_id = #{productId}
          AND user_id = #{userId}
	</delete>
	<insert id="putCart">
		INSERT INTO nextjs_shop_cart(product_option_id, user_id, quantity)
		VALUES(#{productOptionId}, #{userId}, #{quantity})
	</insert>
	<select id="getProductDetail">
		SELECT  product_id, name, color_name, price, created_at, 
		like_count, view_count, wish_count, sale_stop, seller_id, menu_sub_id, 
		material_info, manufacturer_name, country_of_origin, 
		wash_care_info, manufactured_ym, quality_guarantee_info, 
		after_service_contact, after_service_manager, after_service_phone
		FROM nextjs_shop_product
		WHERE sale_stop = 0 AND product_id = #{productId}
	</select>
	<select id="getProductOptionList">
		SELECT *
		FROM nextjs_shop_product_option
		WHERE product_id = #{productId}
	</select>
	<select id="getAvailableProductCoupon">
		SELECT uc.user_coupon_id, uc.used, 
			c.coupon_id, c.description, c.coupon_code, c.discount_type, c.discount_value,
			c.max_discount, c.minimum_order_before_amount, c.status, c.is_stackable, c.is_product_restricted,
			c.amount, c.start_date, c.end_date, c.created_at, c.updated_at, 
			c.seller_id, s.seller_name
		FROM nextjs_shop_user_coupon uc
		JOIN nextjs_shop_coupon c ON c.coupon_id = uc.coupon_id
		JOIN nextjs_shop_coupon_allowed ca ON ca.coupon_id = c.coupon_id AND product_id = #{productId}
		LEFT JOIN nextjs_shop_seller s ON s.seller_id = c.seller_id
		WHERE uc.user_id = #{userId} AND uc.used = 0
	</select>
	<select id="getProductQnaList">
		SELECT product_qna_id, question, created_at, answer, res_created_at, secret, 
		product_qna_type_id, product_id, user_id
		FROM nextjs_shop_product_qna
		WHERE product_id = #{productId}
		ORDER BY
		 CASE WHEN user_id = #{userId} THEN 0 ELSE 1 END ASC,
		 created_at DESC,
		 product_qna_id DESC;
	</select>
	
</mapper>
