<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="me._hanho.nextjs_shop.product.ProductMapper">
	<select id="getProductList">
	  SELECT
	    p.product_id,
	    p.name,
	    p.color_name,
	    p.origin_price,
	    p.final_price,
	    p.created_at,
	    p.view_count,
	    p.wish_count,
	    s.seller_name
	  FROM nextjs_shop_product p
	  JOIN nextjs_shop_seller s ON s.seller_no = p.seller_no
	  WHERE p.sale_stop = 0
	    AND p.menu_sub_id = #{menuSubId}
	  <choose>
	    <!-- 최신순 -->
	    <when test="sort == 'latest'">
	      <if test="lastCreatedAt != null and lastProductId != null">
	        AND (p.created_at, p.product_id) &lt; (#{lastCreatedAt}, #{lastProductId})
	      </if>
	      ORDER BY p.created_at DESC, p.product_id DESC
	    </when>
	
	    <!-- 인기순 (view+wish) -->
	    <when test="sort == 'popular'">
	      <if test="lastPopularity != null and lastCreatedAt != null and lastProductId != null">
	        AND (
	          (p.view_count + p.wish_count) &lt; #{lastPopularity}
	          OR (
	            (p.view_count + p.wish_count) = #{lastPopularity}
	            AND (p.created_at, p.product_id) &lt; (#{lastCreatedAt}, #{lastProductId})
	          )
	        )
	      </if>
	      ORDER BY (p.view_count + p.wish_count) DESC,
	               p.created_at DESC,
	               p.product_id DESC
	    </when>
	
	    <!-- 기본(안전망) -->
	    <otherwise>
	      ORDER BY p.product_id DESC
	    </otherwise>
	  </choose>
	
	  LIMIT 30
	</select>
	
	<select id="getProductImageListByProductIds" parameterType="list">
	  SELECT
	    pi.product_id,
	    f.file_id,
	    f.file_name,
	    f.store_name,
	    f.file_path,
	    f.copyright,
	    f.copyright_url
	  FROM nextjs_shop_product_image pi
	  JOIN nextjs_shop_file f ON pi.file_id = f.file_id
	  WHERE pi.product_id IN
	  <foreach collection="list" item="id" open="(" separator="," close=")">
	    #{id}
	  </foreach>
	  AND pi.is_thumbnail = 1
	  ORDER BY pi.product_id ASC, pi.sort_key ASC
	</select>

	<select id="isLikeExist" resultType="boolean">
		SELECT EXISTS (
        SELECT 1
        FROM nextjs_shop_like
        WHERE product_id = #{productId}
          AND user_no = #{userNo}
	    )
	</select>
	<update id="upProductLike">
		UPDATE nextjs_shop_product
		SET like_count = like_count + 1
		WHERE product_id = #{productId} 
	</update>
	<insert id="insertLike">
		INSERT INTO nextjs_shop_like(product_id, user_no)
		VALUES(#{productId}, #{userNo})
	</insert>
	<update id="downProductLike">
		UPDATE nextjs_shop_product
		SET like_count = like_count - 1
		WHERE product_id = #{productId}
	</update>
	<delete id="deleteLike">
		DELETE FROM nextjs_shop_like
		WHERE product_id = #{productId}
          AND user_no = #{userNo}
	</delete>
	<!--  -->
	<select id="getProductWishList">
		SELECT product_id
		FROM nextjs_shop_wish
		WHERE user_no = #{userNo}
	</select>
	<!--  -->
	<select id="isWishExist" resultType="boolean">
		SELECT EXISTS (
        SELECT 1
        FROM nextjs_shop_wish
        WHERE product_id = #{productId}
          AND user_no = #{userNo}
	    )
	</select>
	<update id="upProductWish">
		UPDATE nextjs_shop_product
		SET wish_count = wish_count + 1
		WHERE product_id = #{productId} 
	</update>
	<insert id="insertWish">
		INSERT INTO nextjs_shop_wish(product_id, user_no)
		VALUES(#{productId}, #{userNo})
	</insert>
	<update id="downProductWish">
		UPDATE nextjs_shop_product
		SET wish_count = wish_count - 1
		WHERE product_id = #{productId}
	</update>
	<delete id="deleteWish">
		DELETE FROM nextjs_shop_wish
		WHERE product_id = #{productId}
          AND user_no = #{userNo}
	</delete>
	<!--  -->

	<select id="getProductCart">
		SELECT product_option_id
		FROM nextjs_shop_cart
		WHERE product_option_id IN (
		    SELECT product_option_id
		    FROM nextjs_shop_product_option
		    WHERE product_id = #{productId}
		)
		AND user_no = #{userNo} AND is_deleted = 0
	</select>

	<select id="getCartQtyMap">
		SELECT
			c.product_option_id AS productOptionId,
			c.quantity AS quantity
		FROM nextjs_shop_cart c
		WHERE c.user_no = #{userNo} AND c.is_deleted = 0
			AND c.product_option_id IN
			<foreach collection="cartList" item="item" open="(" separator="," close=")">
			#{item.productOptionId}
			</foreach>
	</select>
	
	<update id="upQuantityCart">
		UPDATE nextjs_shop_cart c
		JOIN nextjs_shop_product_option po ON c.product_option_id = po.product_option_id
		SET c.quantity = LEAST(
			c.quantity + CASE c.product_option_id
				<foreach collection="updateList" item="item">
				WHEN #{item.productOptionId} THEN #{item.quantity}
				</foreach>
				ELSE 0
			END,
			po.stock
		)
		WHERE c.user_no = #{userNo}
			AND c.product_option_id IN
			<foreach collection="updateList" item="item" open="(" separator="," close=")">
			#{item.productOptionId}
			</foreach>
	</update>

	<insert id="addCart">
		INSERT INTO nextjs_shop_cart (product_option_id, user_no, quantity)
		SELECT t.product_option_id, #{userNo}, LEAST(t.quantity, po.stock) AS quantity
		FROM (
			<foreach collection="insertList" item="item" separator=" UNION ALL ">
			SELECT #{item.productOptionId} AS product_option_id, #{item.quantity} AS quantity
			</foreach>
		) t
		JOIN nextjs_shop_product_option po ON po.product_option_id = t.product_option_id
		WHERE po.stock > 0
	</insert>

	<select id="getCartAppliedResult">
		SELECT
			t.product_option_id AS productOptionId,
			t.quantity AS requestedQuantity,
			po.stock AS stock,
			c.quantity AS cartQuantity
		FROM (
			<foreach collection="cartList" item="item" separator=" UNION ALL ">
				SELECT
					#{item.productOptionId} AS product_option_id,
					#{item.quantity} AS quantity
			</foreach>
		) t
		JOIN nextjs_shop_product_option po
			ON po.product_option_id = t.product_option_id
		LEFT JOIN nextjs_shop_cart c
			ON c.user_no = #{userNo} AND c.is_deleted = 0
			AND c.product_option_id = t.product_option_id
	</select>

	<select id="getProductDetail">
		SELECT  p.product_id, p.name, p.color_name, p.origin_price, p.final_price, p.created_at, 
		p.like_count, p.view_count, p.wish_count, 
		s.seller_name, s.seller_name_en, s.business_registration_number,
		s.telecom_sales_number, s.representative_name, s.business_zipcode,
		s.business_address, s.business_address_detail, s.like_count AS sellerLikeCount,
		s.base_shipping_fee, s.free_shipping_min_amount, s.extra_shipping_fee,
		p.menu_sub_id, ms.menu_name AS subMenuName, mt.menu_name AS topMenuName, mt.gender,
		p.material_info, p.manufacturer_name, p.country_of_origin, 
		p.wash_care_info, p.manufactured_ym, p.quality_guarantee_info, 
		p.after_service_contact, p.after_service_manager, p.after_service_phone,
		p.shipping_type, p.shipping_due_date, p.shipping_note
		FROM nextjs_shop_product p
		JOIN nextjs_shop_seller s ON s.seller_no = p.seller_no
		JOIN nextjs_shop_menu_sub ms ON ms.menu_sub_id = p.menu_sub_id
		JOIN nextjs_shop_menu_top mt ON mt.menu_top_id = ms.menu_top_id
		WHERE sale_stop = 0 AND product_id = #{productId}
	</select>
	<select id="getProductImageList">
		SELECT
		    pi.product_id,
		    f.file_id,
		    f.file_name,
		    f.store_name,
		    f.file_path,
		    f.copyright,
		    f.copyright_url
		FROM nextjs_shop_product_image pi
		JOIN nextjs_shop_file f ON pi.file_id = f.file_id
		WHERE product_id = #{productId} 
			AND pi.is_thumbnail = 1
		ORDER BY pi.product_id ASC, pi.sort_key ASC
	</select>
	<select id="getProductOptionList">
		SELECT 
			product_option_id, 
			product_id, 
			add_price, 
			(stock - COALESCE((
				SELECT SUM(sh.count)
				FROM nextjs_shop_stock_hold sh
				WHERE sh.product_option_id = po.product_option_id
				AND sh.status = 'HOLD'
				AND sh.active_hold = 1
				AND sh.expires_at > NOW()
			), 0)) AS stock,
			size
		FROM nextjs_shop_product_option po
		WHERE product_id = #{productId} AND is_displayed = 1
	</select>
	<select id="getAvailableProductCoupon">
	    SELECT
	        c.coupon_id, c.description, c.discount_type, c.discount_value,
	        c.max_discount, c.minimum_order_before_amount, c.status,
	        c.is_stackable, c.is_product_restricted,
	        c.amount, c.start_date, c.end_date, c.issue_method,
	        <!-- c.seller_no, c.admin_no, 관리자 확인용 나중에 주석처리하기 -->
	        ca.coupon_allowed_id,
	        uc.user_coupon_id,
	        s.seller_name
	    FROM nextjs_shop_product p
	    JOIN nextjs_shop_coupon c ON (c.seller_no = p.seller_no OR (c.seller_no IS NULL AND c.admin_no IS NOT NULL))
	    LEFT JOIN nextjs_shop_coupon_allowed ca ON ca.coupon_id = c.coupon_id AND ca.product_id = p.product_id
	    LEFT JOIN nextjs_shop_user_coupon uc ON uc.coupon_id = c.coupon_id 
			AND uc.user_no = #{userNo} 
	    LEFT JOIN nextjs_shop_seller s ON c.seller_no = s.seller_no
	    WHERE p.product_id = #{productId}
	        AND c.is_deleted = 0 AND c.status = 'ACTIVE' AND c.amount > 0
	        <!-- AND NOW() BETWEEN c.start_date AND c.end_date 포폴용 주석 -->
	        AND (
	            c.is_product_restricted = 0
	            OR ca.product_id IS NOT NULL
	        )
	        AND (
	            c.issue_method = 'CLAIM'
	            OR (c.issue_method IN ('MANUAL','AUTO') AND uc.user_coupon_id IS NOT NULL)
	        )
			AND (
				uc.user_coupon_id IS NULL  -- 아직 안받은 쿠폰 (CLAIM)
				OR uc.used = 0             -- 받은 것 중 미사용
			)
	</select>
	<select id="getProductDetailImage">
		SELECT
		    pi.product_id,
		    f.file_id,
		    f.file_name,
		    f.store_name,
		    f.file_path,
		    f.copyright,
		    f.copyright_url
		FROM nextjs_shop_product_image pi
		JOIN nextjs_shop_file f ON pi.file_id = f.file_id
		WHERE product_id = #{productId} 
			AND pi.is_thumbnail = 0
		ORDER BY pi.product_id ASC, pi.sort_key ASC
	</select>
	<select id="isSellerLikeExist">
		SELECT EXISTS (
			SELECT 1
			FROM nextjs_shop_seller_like sl
			JOIN nextjs_shop_product p ON p.seller_no = sl.seller_no
			WHERE p.product_id = #{productId}
			AND sl.user_no = #{userNo}
	    )
	</select>
	<select id="getSellerOtherProducts">
		SELECT
			p.product_id,
			p.name,
			p.color_name,
			p.origin_price,
			p.final_price,
			p.created_at,
			p.view_count,
			p.wish_count,
			s.seller_name,
			f.file_id,
			f.file_name,
			f.store_name,
			f.file_path,
			f.copyright,
			f.copyright_url,
			CASE WHEN EXISTS (
				SELECT 1
				FROM nextjs_shop_wish w
				WHERE w.product_id = p.product_id
				AND w.user_no = #{userNo}
			) THEN 1 ELSE 0 END AS isWished
		FROM nextjs_shop_product p
		JOIN nextjs_shop_seller s ON s.seller_no = p.seller_no
		LEFT JOIN nextjs_shop_product_image pi 
			ON pi.product_id = p.product_id
			AND pi.is_thumbnail = 1
			AND pi.sort_key = (
				SELECT MIN(pi2.sort_key)
				FROM nextjs_shop_product_image pi2
				WHERE pi2.product_id = p.product_id
					AND pi2.is_thumbnail = 1
			)
		LEFT JOIN nextjs_shop_file f 
			ON f.file_id = pi.file_id
		WHERE p.sale_stop = 0 AND p.product_id != #{productId} AND s.seller_no = (
			SELECT s2.seller_no
			FROM nextjs_shop_product p2
			JOIN nextjs_shop_seller s2 ON s2.seller_no = p2.seller_no
			WHERE p2.product_id = #{productId}
		)
		ORDER BY (p.view_count + p.wish_count) DESC,
			p.created_at DESC,
			p.product_id DESC
	  	LIMIT 30
	</select>
	<update id="upSellerLike">
		UPDATE nextjs_shop_seller s
		JOIN nextjs_shop_product p ON s.seller_no = p.seller_no
		SET s.like_count = s.like_count + 1
		WHERE p.product_id = #{productId} 
	</update>
	<insert id="insertSellerLike">
		INSERT INTO nextjs_shop_seller_like(seller_no, user_no)
		VALUES((SELECT seller_no FROM nextjs_shop_product WHERE product_id = #{productId}), #{userNo})
	</insert>
	<update id="downSellerLike">
		UPDATE nextjs_shop_seller s
		JOIN nextjs_shop_product p ON s.seller_no = p.seller_no
		SET s.like_count = s.like_count - 1
		WHERE p.product_id = #{productId} 
	</update>
	<delete id="deleteSellerLike">
		DELETE sl
		FROM nextjs_shop_seller_like sl
		JOIN nextjs_shop_product p ON sl.seller_no = p.seller_no
		WHERE p.product_id = #{productId} 
		  AND sl.user_no = #{userNo}
	</delete>

	<select id="getProductReviewList">
		SELECT r.review_id, r.content, r.created_at AS reviewDate, r.rating, r.order_item_id, 
			r.user_no, u.name AS userName
		FROM nextjs_shop_review r
		JOIN nextjs_shop_user u ON r.user_no = u.user_no
		JOIN nextjs_shop_order_item oi ON r.order_item_id = oi.order_item_id
		JOIN nextjs_shop_stock_hold sh ON oi.hold_id = sh.hold_id
		JOIN nextjs_shop_product_option po ON sh.product_option_id = po.product_option_id
		WHERE po.product_id = #{productId} AND u.withdrawal_status = 'ACTIVE'
			AND r.is_deleted = 0
		ORDER BY
		<if test="userNo != null">
			CASE WHEN r.user_no = #{userNo} THEN 0 ELSE 1 END ASC,
		</if>
		r.created_at DESC,
		r.review_id DESC
	</select>
	<update id ="deleteProductReview">
		UPDATE nextjs_shop_review
		SET is_deleted = 1
		WHERE review_id = #{reviewId} AND user_no = #{userNo}
	</update>
	<select id="getProductReviewImageListByProductId">
		SELECT ri.review_image_id, ri.review_id, ri.file_id,
			f.file_name, f.store_name, f.file_path, f.copyright, f.copyright_url
		FROM nextjs_shop_review_image ri
		JOIN nextjs_shop_file f ON f.file_id = ri.file_id
		JOIN nextjs_shop_review r ON ri.review_id = r.review_id
		JOIN nextjs_shop_order_item oi ON oi.order_item_id = r.order_item_id
		JOIN nextjs_shop_stock_hold sh ON sh.hold_id = oi.hold_id
		JOIN nextjs_shop_product_option po ON sh.product_option_id = po.product_option_id
		JOIN nextjs_shop_product p ON po.product_id = p.product_id
		WHERE p.product_id = #{productId} AND f.is_deleted = 0
		ORDER BY r.created_at DESC, ri.sort_key ASC, ri.review_image_id ASC
	</select>
	<select id="getProductReviewSummary">
		SELECT
		    AVG(rating) AS avg_rating,
		    COUNT(*) AS review_count
		FROM nextjs_shop_review r
		JOIN nextjs_shop_order_item oi ON r.order_item_id = oi.order_item_id
		JOIN nextjs_shop_stock_hold sh ON oi.hold_id = sh.hold_id
		JOIN nextjs_shop_product_option po ON sh.product_option_id = po.product_option_id
		WHERE po.product_id = #{productId} AND r.is_deleted = 0
	</select>
	<select id="getProductQnaList">
		SELECT
			pq.product_qna_id,
			pq.question,
			pq.created_at,
			pq.answer,
			pq.res_created_at,
			pq.answer_read,
			pq.secret,
			pq.product_qna_type_id,
			pqt.code AS qnaTypeCode,
			pqt.name AS qnaTypeName,
			pq.product_id,
			pq.user_no,
			u.name AS userName
		FROM nextjs_shop_product_qna pq
		JOIN nextjs_shop_user u ON pq.user_no = u.user_no
		JOIN nextjs_shop_product_qna_type pqt ON pq.product_qna_type_id = pqt.product_qna_type_id
		WHERE pq.product_id = #{productId} AND u.withdrawal_status = 'ACTIVE'
			AND pq.is_deleted = 0
		ORDER BY
		<if test="userNo != null">
			CASE WHEN pq.user_no = #{userNo} THEN 0 ELSE 1 END ASC,
		</if>
		pq.created_at DESC,
		pq.product_qna_id DESC
	</select>
	<select id="getProductQnaTypeList">
		SELECT product_qna_type_id, code, name
		FROM nextjs_shop_product_qna_type
	</select>
	<insert id="insertProductQna">
		INSERT INTO nextjs_shop_product_qna(question, product_qna_type_id, product_id, secret, user_no)
		VALUES(#{qna.question}, #{qna.productQnaTypeId}, #{productId}, #{qna.secret}, #{userNo})
	</insert>
	<update id="updateProductQna">
		UPDATE nextjs_shop_product_qna
		SET question = #{qna.question},
			secret = #{qna.secret}
		WHERE product_qna_id = #{qna.productQnaId} AND user_no = #{userNo}
	</update>
	<update id="updateProductQnaDelete">
		UPDATE nextjs_shop_product_qna
		SET is_deleted = 1
		WHERE product_qna_id = #{productQnaId} AND user_no = #{userNo}
	</update>
	<update id="updateProductQnaRead">
		UPDATE nextjs_shop_product_qna
		SET answer_read = 1
		WHERE product_qna_id = #{productQnaId} AND user_no = #{userNo}
	</update>
	<select id="getCategoryBestProductList">
		SELECT
			p.product_id,
			p.name,
			p.color_name,
			p.origin_price,
			p.final_price,
			p.created_at,
			p.view_count,
			p.wish_count,
			s.seller_name,
			f.file_id,
			f.file_name,
			f.store_name,
			f.file_path,
			f.copyright,
			f.copyright_url,
			CASE WHEN EXISTS (
				SELECT 1
				FROM nextjs_shop_wish w
				WHERE w.product_id = p.product_id
				AND w.user_no = #{userNo}
			) THEN 1 ELSE 0 END AS isWished
		FROM nextjs_shop_product p
		JOIN nextjs_shop_seller s ON s.seller_no = p.seller_no
		LEFT JOIN nextjs_shop_product_image pi 
			ON pi.product_id = p.product_id
			AND pi.is_thumbnail = 1
			AND pi.sort_key = (
				SELECT MIN(pi2.sort_key)
				FROM nextjs_shop_product_image pi2
				WHERE pi2.product_id = p.product_id
					AND pi2.is_thumbnail = 1
			)
		LEFT JOIN nextjs_shop_file f 
			ON f.file_id = pi.file_id
		WHERE p.sale_stop = 0 AND p.product_id != #{productId} AND p.menu_sub_id = (
			SELECT menu_sub_id
			FROM nextjs_shop_product
			WHERE product_id = #{productId}
		)
		ORDER BY (p.view_count + p.wish_count) DESC,
			p.created_at DESC,
			p.product_id DESC
	  	LIMIT 30
	</select>

	<insert id="couponDownload"
        useGeneratedKeys="true"
        keyProperty="userCouponId"
        keyColumn="user_coupon_id">
		INSERT INTO nextjs_shop_user_coupon(user_no, coupon_id)
		VALUES(#{userNo}, #{couponId})
	</insert>

</mapper>
